<h1>Editing contact</h1>

<%= render "form", contact: @contact %>


<div>
  <%= link_to "Show this contact", @contact, class:'btn btn-secondary' %>
  <%= link_to "Back", contacts_path, class:'btn btn-dark' %>
</div>
